/* * { 
    border: 1px solid red 
} */

.big-container {
display:grid;
grid-template-columns: 1fr 4fr;
grid-template-rows: 1fr 5fr;
border: 2px solid red;
background-color: gainsboro;
height: 100vh;;
}

.sidebar {
background-color: #0ea5e9;
grid-column: 1 / 2;
grid-row: 1 / 3;
display: grid;
grid-template-rows: 0.15fr 0.5fr 1fr;
/* gap: 5px; */
color: aliceblue;
padding-top: 15px;
font-family: 'Roboto', sans-serif;
}

.sidebar ul li {
    font-size: 22px; /* Change this value to adjust the text size */
    font-weight: normal;
    margin-bottom: 20px;
    margin-left: 20px;
}

.dashboard {
display: flex;
align-content: center;
font-size: 26px; /* Change this value to adjust the text size */
font-weight: bold;
} 


i {
margin:20px;
}
.firstblock ul,
.secondblock ul {
list-style: none;
margin: 0px;
padding: 0px;
}
    
.header {
background-color:bisque;
display: grid;
grid-template-columns: 3fr 1fr;
grid-template-rows: 1fr 1fr;
}

.buttonsgrid {
grid-column: 2 / 3;
grid-row: 2 / 3;

}
.searchbar {
grid-column: 1 / 3;
display: flex;
align-items: baseline;


}
.bar {
        float: left;
        padding: 6px;
        border: none;
        margin-top: 8px;
        font-size: 17px;
        width: 700px;
        margin-left: 15px;
        border-radius: 20px;
}

.userinfo {
grid-column: 1 / 2;
grid-row: 2 / 3;
}

.content {
background-color:rgb(196, 204, 255);
display: grid;
grid-template-columns: 3fr 1fr;
}
.yourprojects {
display: grid;


}